head
{
    background-color: #3174a7;
    color:#3174a7
}
body{
    background-color: #2c2918;
}
thingy
{
    background-color: #3174a7;
    color:#3174a7
}
ul{
    
    color:rgb(119, 194, 194);
    position: fixed;
}
h1{
    color:rgb(89, 153, 153);
    position:absolute;
    text-align: center;
    right: 33%;
    font-size: 50px;

    animation-timing-function: ease-in-out;
    animation: 10s linear 0s infinite alternate loop1;


}
p{
    color:rgb(119, 194, 194);
}
.square-create
{
    background-color: #555; 
    position: absolute;
    
}
@keyframes loop1 {
    0%   {top:1%;}
    25%  {top:0.5%;}
    50%  {top:-0%;}
    75%  {top:0.5%;}
    100%  {top:1%;}
  }
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }
  img
  {
    position: relative;
    height: 5%;
    width: 5%;
    top: 0%;
    left:0%;
  }
  .a
  {
    animation: 10s linear 0s infinite alternate loop1;
  }