head
{
    background-color: rgb(177, 173, 114);
    color:rgb(177, 173, 114);
}
body{
    background-color: #2c2918;
}
ul{
    
    color:rgb(177, 173, 114);
    position: relative;
    font-family:'Courier New';
}
h1{
    color:rgb(179, 177, 92);
    position:absolute;
    text-align: center;
    right: 33%;
    font-size: 50px;

    animation-timing-function: ease-in-out;
    animation: 10s linear 0s infinite alternate loop1;


}
p{
    color:rgb(177, 173, 114);
}
.square-create
{
    background-color: #555; 
    position: absolute;
    
}
@keyframes loop1 {
    0%   {top:1%;right:33%;}
    25%  {top:0.5%;right:32.9%;}
    50%  {top:-0%;right:33%;}
    75%  {top:0.5%;right:33.1%;}
    100%  {top:1%;right:33%;}
  }
  img
  {
    position: relative;
  }
  .a
  {
    animation: 10s linear 0s infinite alternate loop1;
  }
